body {
  background-color: cadetblue;
}

h1 {
  color: white;
}

section.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #ccc;
  min-width: 250px;
  width: 25%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 20px rgb(255, 255, 255) 10px 10px;
}

#card-5 {
  background-color: purple;
  color: white;
}

#card-3 {
  background-color: purple;
  color: white;
}

#card-9 {
  background-color: purple;
  color: white;
}

section#numbers {
  display: flex;
  flex-wrap: wrap;
}

section#numbers div {
  width: 50px;
  height: 40px;
  margin: 3px;
  border: 1px solid brown;
  border-radius: 3px;
  font-size: 2rem;
  text-align: center;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

/* countries section */

.countries {
  display: flex;
  flex-wrap: wrap;
}

.country {
  width: 120px;
  height: 120px;
  background-color: antiquewhite;
  margin: 3px;
  border: 2px solid rgb(165, 204, 206);
  /* display: grid;
  place-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* never use floats */
/* use flex box for alignment and layouts */
/* grid */
